@import 'colors';

.canvas {
  font: 10px sans-serif;
  background-color: $bgcolor;
  width: 1500px;
  height: 1500px;
}

.legend {
  background-color: $bgcolor;
  width: 500px;
  height: 400px;
}
.dot {
  fill: $color;
  stroke: black;
}

#webpack-img {
  width: 50px;
}